body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1, h2 {
  color: rgb(7, 42, 73)
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #dadada;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #dadada;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #dadada;
}
:-moz-placeholder { /* Firefox 18- */
  color: #dadada;
}